<div id="yogaMap">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <div id="downDog">

     <img id="mainImage" src="http://www.relaxandrelease.co.uk/wp-content/uploads/2013/07/Catherine-Annis-Scaravelli-style-yoga-down-dog.gif" alt="Image Map">


    <a id= "hello" href="/poses/1">
      <div id="pinPoint1">
        <img class="chakra" src="http://higherperspective.com/wp-content/uploads/2014/09/symbol-jumbo-root-chakra.png">
      </div>
    </a>

    <a id="blah" href="/poses/2">
      <div id="pinPoint2">
        <img class="chakra" src="http://www.auracacia.com/chakras/assets/img/symbol-big-sacral-chakra.png">
      </div>
    </a>

     <a href="www.google.com">
      <div id="pinPoint3">
        <img class="chakra" src="http://www.auracacia.com/chakras/assets/img/symbol-jumbo-solar-plexus-chakra.png">
      </div>
    </a>

     <a href="www.google.com">
      <div id="pinPoint4">
        <img class="chakra" src="http://www.auracacia.com/chakras/assets/img/symbol-jumbo-heart-chakra.png">
      </div>
    </a>

     <a href="www.google.com">
      <div id="pinPoint5">
        <img class="chakra" src="http://naturalchakrahealing.com/images/blue-throat-chakra-symbol-image.png">
      </div>
    </a>

    <a href="www.google.com">
      <div id="pinPoint6">
        <img class="chakra" src="http://www.auracacia.com/chakras/assets/img/symbol-jumbo-third-eye-chakra.png">
      </div>
    </a>


    <a href="www.google.com">
      <div id="pinPoint7">
        <img class="chakra" src="http://onelovep.com/wp-content/uploads/2014/06/symbol-jumbo-crown-chakra.png">
      </div>
    </a>

  </div>
</div>


